body 
{
    background-image:url(Image/classic-pizza-with-peppers-and-parmesian.jpg);
    /*background-repeat:no-repeat;*/
    background-size:cover;
}
.box
{
    color:black;
    font-size:large;
    font-style:inherit
}
.word
{
    word-spacing:10px;
}
